body{
    margin: 0px;
    padding: 0px;
}

.carousel-wrapper{
    background-color: aqua;

    height: 500px;

    text-align: center;

    margin: 35px 75px 20px 75px;
    padding: 200px;

    overflow: hidden;

    box-sizing: border-box;
}

.carousel{
    transform-style: preserve-3d;
}

.carousel_photo{
    width: 100%;
}

.Grid_Container{
    /* background-color: green; */

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap : 40px;

    margin-left: 55px;
    margin-right: 55px;
    padding: 40px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}

.featurekiri{
    grid-column: 1 / 8;
    height: 300px;
}

.desckiri{
    grid-column: 8/11;
}

.featurekanan{
    grid-column: 4 / 11;
    height: 300px;
}

.desckanan{
    grid-column: 1/4;
}

.popular_track{
    background-color: darkcyan;

    height: fit-content;

    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
}

.pop-item{

    box-sizing: border-box;
    margin: 15px;

    background-color: yellow;
    width: 320px;
    height: 200px;
}

.region_track{
    background-color: darkcyan;

    height: fit-content;

    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
}

.region-item{

    box-sizing: border-box;
    margin: 15px;

    background-color: yellow;
    width: 320px;
    height: 200px;
}