*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
i{
    color: white;
}

.scroll-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.section{
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
  min-height: 36rem;
}

body, html{
    background-color: rgb(49, 49, 49);
    overflow-x: hidden;
}

header{
    background-color: rgb(151, 151, 151);
    position: relative;
    top: 0.5rem;
    width: 100%;
    height: 4rem;
    opacity: 0;
}

.logo{
    position: absolute;
}

.logo img{
    height: 70px;
}

nav{
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.nav_link{
    text-decoration: none;
    margin-right: 2%;
    font-size: 20px;
    color: black;
}

.nav_link:hover{
    color: rgb(77, 77, 77);
}

.media_list{
    position: absolute;
    top: 12.5em;
    right: 2em;
    /* background-color: aqua; */
    color: aliceblue;
    z-index: 200;
    font-size: 2.2em;
}

ul{
    list-style-type: none;
}

li i{
    margin-top: 10px;
}

.home_left{
    position: relative;
    left: -60%;
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    animation: slide-perm 1.5s forwards;
}

.carousel_container{
    position: absolute;
    left: 7%;
    top: 17%;
    width: 65em;
    height: 50%;
    overflow: hidden;
    z-index: 2;
}

.carousel_container img{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
}

.Start{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding-left: 200px;
    top: 75%;
    font-size: x-large;
    animation: slide-perm 3s forwards;
}

.overlay{
    background-color: black;
    position: absolute;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.act{
    position: relative;
    top: 20px;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 12rem;
    text-align: center;
    background-color: dimgray;
    column-rule: white;
    opacity: 0;
}

.info_name{
    position: relative;
    top: 20px;
    opacity: 0;
}

.active{
    position: relative;
    top: 0px;
    opacity: 1;
    transition: 0.5s;
}

.popular_sect{
    background-image: url("../assets/pop_sect.jpg");
    background-repeat: no-repeat;
    background-size: 200%;
    width: 100%;
    height: 100vh;
}

.popular_sect hr{
    position: relative;
    left: 45%;
    top: 10%;
    width: 10%;
    border: 2px black solid;
}

.pop_tagline{
    position: relative;
    left: 25%;
    top: 13%;

    text-align: center;

    width: 50%;
}

.pop_title{
    /* background-color: green; */
    position: relative;
    left: 35%;
    top: 7%;

    font-size: 3rem;
    text-align: center;

    width: 30%;
}

.pop_top3{
    position: relative;
    top: 20%;
    left: 6%;

    /* background-color: blueviolet; */
    width: 88%;
    height: 60%;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.card_image{
    background-color: aquamarine;
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.card_image img{
    width: 100%;
    height: 100%;
}

.mini_about img{
    position: relative;
    width: 70%;
    left: 2em;
    top: 2em;
}

.story{
    position: relative;
    top: -30%;
    left: 45%;
    /* background-color: aliceblue; */
    /* box-shadow: inset 0 0 15px white; */
    padding: 20px;
    width: 50%;
    height: 30%;
    color: aliceblue;
    font-size: x-large;
}

.about{
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: x-large;
    text-decoration: none;
    right: 20%;
    top: 185%;
}

.about:hover{
    text-decoration: underline;
}



@keyframes slide{
    0%{
        left: -100%;
    }
    25%{
        left: -100%;
    }
    75%{
        left: 0;
    }
    100%{
        left:100%;
    }
}

@keyframes slide-perm{
    0%{
        left: -100%;
    }
    25%{
        left: -100%;
    }
    75%{
        left: 0;
    }
    100%{
        left:0;
    }
}

@keyframes slide-perm-r{
    0%{
        right: -50%;
    }
    25%{
        right: -50%;
    }
    75%{
        right: 2em;
    }
    100%{
        right: 2em;
    }
}