*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.content{
    background-image: url("../assets/back_profile.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    padding: 2em;
    position: absolute;
    top: 9%;

    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 12.5% 12.5% 14% 14% 14% 10%;
    grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-gap: 2em;
    /* opacity: 0.7; */
}

.content > div{
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.user_info{
    grid-column: 1/3;
    grid-row: 1/6;
    padding: 10px;
    background-color: aliceblue;
    border: 2px black solid;
}

.user_info_picture{
    background-color: cadetblue;
    position: relative;
    margin: auto;
    width: 12em;
    height: 12em;
    border-radius: 100%;
    overflow:hidden;
}
.user_info_picture img{
    width:100%;

}

.info_1{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: auto;
    padding: 9px;
    top: -2em;
    left: -2.5em;
    width: fit-content;
    min-width: 10em;
    height: 3em;

    border: 2px black solid;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.detil_info{
    background-color: rgb(255, 255, 255);
    height: 2em;
    margin-bottom: 2%;
}

.setting i{
    font-size: 3em;
}

.inputTrack{
    display:none;

}
.currImg{
    width:100px;
    height:100%;
}
.current_track{
    grid-column: 3/8;
    grid-row: 1/5;
    overflow:hidden;
    
   /* background-image: url("../assets/current_track/fuji.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.current_track img{
    width:100%;
}

.go_button{
    /* background-color: aqua; */
    position: absolute;
    top: 35%;
    left: 60%;
    z-index: 20;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #fae5e9 5%, #408c99 100%);
	background-color:#fae5e9;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
    text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    width: 100%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #fae5e9 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.owned_medal{
    grid-column: 1/3;
    grid-row: 6/9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.medal{
    height: fit-content;
}
.medal img{
    width:100px;
}
.badge_img{
    height: 100%;
}

.API_weather{
    grid-column: 6/8;
    grid-row: 5/8;
    overflow-y: scroll;
}

.bar_slot{
background-color: black;
height: 1.3rem;
width: 200px;
}

.bar_fill{
background-color: greenyellow;
width: 0%;
height: 100%;

}

.statistic{
    grid-column: 3/6;
    grid-row: 5/8 ;
}

.openweathermap-widget-21{
    margin-top: 200px;
}

.over{
    z-index: 2;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 128vh;
    display: none;
}

.box{
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: inset 0px 0px 15px;
    top: 30%;
    left: 35%;
    width: 30%;
    height: 40%;
    padding: 15px;
}

.box input{
    float: right;
    width: 280px;
    margin-top: 25px;
    margin-left: 5px;
}

.box label{
    float: right;
    margin-top: 25px;
}

.box button{
    position: relative;
    top: 7em;
    left: 13em;
}