*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: rgb(230, 230, 230);
    opacity: 0.75;
    display: flex;
    z-index: 2;
}

.logo{
    /* background-color: blueviolet; */
    width: 25%;
}

nav{
    width: 75%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_link{
    margin-left: 5rem;
    margin-right: 5rem;

    text-decoration: none;
    font-size: x-large;

    color: rgb(43, 43, 43);
}

body{
    overflow-x: hidden;
}

.login_box{
    position: absolute;

    top: 6em;
    left: 3em;

    background-color: rgb(49, 49, 49);

    padding-top: 2.5em;

    height: 48em;
    width: 46em;

    opacity: 1;
}

.login_input_box{
    /* background-color: rgb(255, 255, 255); */

    position: absolute;
    

    height: 40em;
    width: 90%;
}

.text_input{
    background-color: rgb(49, 49, 49);

    float: right;

    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    width: 65%;
    height: 2rem;

    color: white;

    border: 0;
    border-bottom: 2px solid gray;
}

.text_label{
    color: gray;
    float: right;
    margin-right:1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

#remember_check{
    float: right;
    margin-right: 10px;
}

#remember_label{
    color: gray;
    float: right;
    margin-right: 50%;
}

.button_box{
    position: absolute;
    bottom: -5vh;
    left: 15vw;
    display: flex;
    justify-content: space-around;
}

button{
    width: 12vw;
    height: 6vh;
}

.sign_up_right{
    position: relative;
    top: 0;
    left: 18em;
    z-index: -1;
    /* background-color: aqua; */
}

.sign_up_right img{
    height: 60em;
}