.header{
    height: 100px;
}

.login_box{
    background-color: rgb(49, 49, 49);

    margin-left: 3%;
    margin-right: 35%;
    margin-top: 3%;
    margin-bottom: 5%;

    padding-top: 4%;

    height: 120vh;
    width: 125vh;
}

.login_input_box{
    /* background-color: rgb(255, 255, 255); */

    position: absolute;
    
    margin-left: 10%;
    margin-right:10% ;

    height: 100vh;
    width: 90%;
}

.text_input{
    background-color: rgb(49, 49, 49);

    float: right;

    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    width: 65%;
    height: 2rem;

    color: white;

    border: 0;
    border-bottom: 2px solid gray;
}

.text_label{
    color: gray;
    float: right;
    margin-right:1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

#remember_check{
    float: right;
    margin-right: 10px;
}

#remember_label{
    color: gray;
    float: right;
    margin-right: 50%;
}

.button_box{
    position: absolute;
    bottom: -5vh;
    left: 15vw;
    display: flex;
    justify-content: space-around;
}

button{
    width: 12vw;
    height: 6vh;
}

.sign_up_right{
    position: absolute;
    top: 5%;
    left: 45%;
    z-index: -1;
    /* background-color: aqua; */
    width: 70vw;
    height: 115vh;
}