*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

.login_box{
    position: absolute;

    top: 6em;
    left: 3em;

    background-color: rgb(255, 255, 255);

    box-shadow:0 20px 75px rgba(0, 0, 0, 0.8); ;

    padding-top: 2.5em;

    height: 48em;
    width: 46em;

    opacity: 1;
}

.login_input_box{
    /* background-color: rgb(255, 255, 255); */

    position: absolute;
    left: 2em;
    

    height: 40em;
    width: 90%;
}

.text_input{
    background-color: rgb(255, 255, 255);

    float: right;

    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    width: 65%;
    height: 2rem;

    color: rgb(0, 0, 0);

    border: 0;
    border-bottom: 2px solid gray;
}

textarea:focus, input:focus{
    outline: none;
}




.text_label{
    color: rgb(2, 2, 2);
    float: right;
    margin-right:1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

#remember_check{
    float: right;
    margin-right: 10px;
}

#remember_label{
    color: gray;
    float: right;
    margin-right: 50%;
}

.button_box{
    position: absolute;
    bottom: -5vh;
    left: 15vw;
    display: flex;
    justify-content: space-around;
}

button{
    width: 12vw;
    height: 6vh;
}

.sign_up_right{
    position: relative;
    top: 0;
    left: 18em;
    z-index: -1;
    /* background-color: aqua; */
}

.sign_up_right img{
    height: 60em;
}