*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    position: absolute;
    top: 4.5em;
    width: 100%;
    height: fit-content;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part{
    background-color: rgb(228, 228, 228);
    width: 95%;
    height: fit-content;
    margin-top: 3em;
}

.part_overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    width: 95%;
    height: 1000px;
    display: none;
}

.part_modal{
    position: absolute;
    background-color: aliceblue;
    height: 35em;
    width: 50%;
    display: none;
}

.exit{
    position: relative;
    background-color: darkkhaki;
}

.show{
    display: block;
}

.accordion_head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: x-large;
    width: 100%;
    background-color: rgb(92, 92, 92);
    height: 7%;
}

.accordion_content{
    /* background-color: brown; */
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 95%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td{
    text-align: center;
}

table th {
    background-color: #009879;
    color: #ffffff;
}

table th,td{
    padding: 12px 15px;
}

table tr{
    border-bottom: thin solid #dddddd;
}

table tr:nth-child(even){
    background-color: bisque;
}

table tr:last-of-type{
    border-bottom: 1em solid #009879;
}