*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    height: 4.5em;
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(25,10,85,1) 60%, rgba(0,212,255,1) 100%);
    opacity: 1;
    display: flex;
    z-index: 2;
}

.logo{
    /* background-color: blueviolet; */
    width: 25%;
    margin: 1px 2px;
}

.logo img{
    height: 100%;
    max-width: 269.4px;
}

nav{
    width: 75%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_link{
    font-family: 'Mate SC', serif;
    margin-left: 5rem;
    margin-right: 5rem;

    text-decoration: none;
    font-size: x-large;
    letter-spacing: 5px;
    font-weight: lighter;

    color: rgb(255, 255, 255);

    z-index: 10;

    display: none;
}

.nav_link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width .3s;
}

.nav_link:hover::after{
    width: 100%;
    transition: width .3s;
}

.show{
    display: block;
}