body{
    margin: 0px;
    padding: 0px;
    position: absolute;
}
header{
    margin-top:0px;
    padding:0;
    height:6rem;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1000;
}