<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/navbar.css">
    <title>Navbar</title>
</head>
<body>
    <header>
        <div id="navArea">
            <div id="navTop" style="display: inline-flex;">
                <img src="assets/logo.png" alt="logo" style="height: 8vh;">
                <h1>NAME OF WEBSITE</h1>
            </div>
            <div id="navBot">

            </div>
        </div>
    </header>
</body>
</html>